		body {
			font-family: Arial, sans-serif;
			background-image: url("https://th.bing.com/th/id/R.9fb4036fb66ac388caa27f2276b901d7?rik=%2fd1fOsv0kt5Hrw&riu=http%3a%2f%2f4.bp.blogspot.com%2f-iX2yuosmofM%2fUFrhOC5-TUI%2fAAAAAAAABJM%2fEfIV6Q3n7s4%2fs4000%2fmagdalena%2bfondo%2bde%2bpantalla.jpg&ehk=E69Z1yt7sqSiD4DvF%2fZNIDHhcjqCVYR%2f8tr0gP%2bREOI%3d&risl=&pid=ImgRaw&r=0");
			background-color: #ffffff;
            background-size: no-repeat;
            background-size: cover;
		}
		h1 {
			text-align: center;
			color: #ffffff;
		}
        li{
            width: 7%;
            border-radius: 17px;
            padding: 15px;
            background-color: #000000;
            border-radius: 17px;
            opacity: 0.6;
  
        }
        h2 {
			text-align: center;
			color: #ffffff;
		}
        a { 
			color: #ffffff;
		}
        table{
            text-align: center;
            width: 50%;
            margin: auto;
            padding: 30px;
            background-color: #fff;
            border-radius: 17px;
            opacity: 0.6;
            box-shadow: 0 0 14px #e0da19;
        }
		form {
			width: 50%;
			margin: auto;
			background-color: #fff;
			padding: 30px;
			border-radius: 17px;
			box-shadow: 0 0 10px rgb(255, 255, 255);
            opacity: 0.6;
		}
		label {
			display: block;
			margin-bottom: 17px;
			color: #000000;
		}
		input[type="number"] {
			padding: 10px;
			border: none;
			background-color: #ffffff;
			border-radius: 5px;
			margin-bottom: 15px;
			font-size: 16px;
		}
		input[type="submit"] {
			padding: 10px 20px;
			background-color: #333;
			color: #fff;
			border: none;
			border-radius: 5px;
			font-size: 16px;
			cursor: pointer;
		}
		p {
			margin-top: 20px;
			color: #e0da19;
			font-size: 18px;
			text-align: center;
            
		}
		
